// Define variables for your color scheme

// For example:
$red: #be1f28;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #ed9102;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #4A4A4A;
$lighter-gray: #797979;
$light-gray: rgb(228, 228, 228);
$white: #F8F8F8;
