
.reservations-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.reservation-restaurant-photo-container {
  height: 100px;
  width: 150px;
}

.reservation-photo {
  border-radius: 5px;
}