.restaurant-page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.restaurant-page-title {
  font-size: 26px;
}

.restaurant-basic-info {
  display: flex;
  margin-top: 10px;
  color: $lighter-gray;
  font-size: 15px;
}

.restaurant-basic-info-rating {
  display: flex;
  align-items: center;
  padding-right: 16px;
  border-right: 1px solid $lighter-gray;
}

.restaurant-basic-info-price-level {
  padding: 0 16px;
  border-right: 1px solid $lighter-gray;
  display: flex;
  align-items: center;
}

.price-level-container {
  display: flex;
  align-items: center;
}

.restaurant-basic-info-cuisine {
  padding-left: 16px;
}

.restaurant-basic-info-star-container {
  margin-right: 6px;
}

.restaurant-basic-info-stars {
  height: 14px;
  width: 14px;
}

.restaurant-section-container {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.restaurant-section-title {
  font-weight: bold;
  padding: 12px 18px;
  border-bottom: 1px solid $light-gray;
}

.restaurant-section-inside-container {
  padding: 18px;
  font-size: 15px;
}