.restaurant-page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.restaurant-page-title {
  font-size: 26px;
}

.images-container {
  
}