.booking-form {
  background-color: white;
  padding: 10px;
}

.invalid {
  border: 1px solid red;
}

.booking-form-timeslots {
  border: 1px solid $light-gray;
  padding: 5px;
  border-radius: 3px;
}

