.booking-form {
  background-color: white;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}

.booking-form-title {
  font-weight: bold;
  margin: 15px 0 15px 8px;
  padding-bottom: 6px;
  border-bottom: 2px solid $orange;
  display: inline-block;
}

.booking-form-submit {
  height: 55px;
  background-color: $red;
  color: white;
  width: 100%;
  border-radius: 3px;
}

.log-in-to-reserve {
  height: 55px;
  background-color: $red;
  color: white;
  width: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}