.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 150ms ease-in-out;
  // background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}

.modal-container {
  max-width: 330px;
}

.modal-form-content {
  border: 1px solid $light-gray;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  min-width: 330px;
}