.restaurant-card-container {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  margin-bottom: 12px;
}

.restaurant-card-image-container {
  height: 200px;
}

.restaurant-card-content {
  padding: 8px;
}

.restaurant-card-title {
  font-size: 18px;
  color: $dark-gray;
  margin-bottom: 5px;
}

.restaurant-card-rating {
  display: flex;
  align-items: center;
}

.restaurant-card-cuisine {
  font-size: 14px;
}

.restaurant-card-location {
  font-size: 14px;
}

.restaurant-card-rating-label {
  margin-left: 5px;
}

.restaurant-card-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.restaurant-card-price-level {
  display: flex;
  align-items: center;
}