.restaurant-card-container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
}

.restaurant-card-image-container {
  position: relative;
  height: 200px;
}

.restaurant-card-content {
  padding: 8px;
}

.restaurant-card-title {
  font-size: 18px;
  color: $dark-gray;
}