.time-slots-container {
  display: flex;
  overflow: auto;
  padding: 12px 0;
}

.no-time-slots {
  font-size: 14px;
  color: $light-gray;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-slot {
  margin: 3px;
  height: 60px;
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: $red;
  border-radius: 50%;
  cursor: pointer;
}

.time-slot-time {
  font-size: 12px;
  margin: 0px;
}

.time-slot-discount {
  margin-top: -2px;
}

.form-time-slots-container {
  width: 100%;
}